################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/x86/Debug/Delta.csprojAssemblyReference.cache
/obj/x86/Debug/Delta.csproj.CoreCompileInputs.cache
/bin/Debug
/DeltaDBManager/.vs
/obj/x86
